@import "../abstracts/variables";
@import "../abstracts/mixins";

.header {
  width: 100%;
  max-width: $max-container-width;
  margin: 0 auto;
  padding: 1.25rem $spacing-sm 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    max-width: 210px;
    height: auto;

    @include respond-to($breakpoint-mobile) {
      max-width: 145px;
    }
  }

  &__nav {
    display: flex;
    gap: 2.5rem;
    font-size: 24px;
    font-weight: $font-weight-regular;
    text-transform: none;
    font-family: $font-family;

    a.active {
      text-decoration: underline;
    }

    @include respond-to($breakpoint-mobile) {
      font-size: 12px;
      gap: $spacing-sm;
      text-transform: uppercase;
    }
  }
}
