@import "../abstracts/variables";
@import "../abstracts/mixins";

.page {
  max-width: $max-layout-width;
  margin: 0 auto;
  padding: $spacing-lg $spacing-sm;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  align-items: center;
}
