@import "../abstracts/variables";
@import "../abstracts/mixins";

.banner {
  position: relative;
  width: 100%;
  max-width: $max-container-width;
  height: clamp(111px, 25vw, 223px);
  margin: 0;
  border-radius: $border-radius-lg;

  @include respond-to($breakpoint-mobile) {
    border-radius: $border-radius-md;
  }

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  &__overlay {
    position: absolute;
    width: $max-container-width;
    height: 223px;
    opacity: 0.3;
    border-radius: $border-radius-lg;

    @include respond-to($breakpoint-mobile) {
      border-radius: $border-radius-md;
    }

    mix-blend-mode: darken;
    background: #000;
  }

  &__text {
    position: relative;
    z-index: 2;
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: clamp(1.5rem, 4vw, 3rem);
    color: $text-light-color;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    max-width: 70%;
    padding: 0 $spacing-sm;

    @include respond-to($breakpoint-mobile) {
      text-align: left;
      padding-left: $spacing-sm;
      text-shadow: none;
    }
  }

  @include respond-to($breakpoint-mobile) {
    justify-content: flex-start;
  }
}
