@import "../abstracts/variables";
@import "../abstracts/mixins";

.collapse {
  width: 100%;
  max-width: 582px;
  border-radius: $border-radius-sm;
  overflow: hidden;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    background-color: $primary-color;
    border-radius: $border-radius-sm;
    cursor: pointer;
    z-index: 1;
    position: relative;

    @include respond-to($breakpoint-mobile) {
      height: 30px;
    }

    h3 {
      font-family: $font-family;
      font-size: 18px;
      font-weight: $font-weight-bold;
      color: $text-light-color;
      margin: 0;
      flex-grow: 1;
    }

    .collapse__icon {
      width: 32px;
      height: 32px;
      transition: transform 0.3s ease;
      transform: rotate(0deg);

      &.rotate {
        transform: rotate(180deg);
      }
    }
  }

  &__content-wrapper {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    background-color: rgba(247, 247, 247, 0.45);
    border-radius: 0 0 $border-radius-sm $border-radius-sm;
    transition: max-height 0.4s ease, opacity 0.3s ease, visibility 0.3s ease;

    &.open {
      max-height: 1000px;
      opacity: 1;
      visibility: visible;
    }
  }

  &__content {
    padding: 20px;
    font-family: $font-family;
    font-size: clamp(14px, 1.5vw, 18px);
    color: $text-color;
    line-height: 1.5;

    li {
      list-style: none;
      padding: 2px 0;
    }

    &--open {
      max-height: 500px;
    }
  }

  @include respond-to($breakpoint-mobile) {
    max-width: 100%;

    &__header {
      padding: 10px;

      h3 {
        font-size: 13px;
      }
    }

    &__content {
      font-size: 14px;
      padding: 10px;
    }
  }
}
