.tag {
  background-color: $primary-color;
  color: $text-light-color;
  font-size: 14px;
  font-weight: $font-weight-bold;
  font-family: $font-family;
  padding: 0.25rem 1rem;
  border-radius: $border-radius-md;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
