.home {
  .gallery {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1240px;
    width: 100%;
    padding: 2rem;
    background: #f7f7f7;
    border-radius: 1.5rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 1.5rem;
      padding: 0;
    }
  }
}
