@import "../abstracts/variables";
@import "../abstracts/mixins";

.home {
  .gallery {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-lg;
    max-width: $max-container-width;
    width: 100%;
    padding: $spacing-lg;
    background: $background-color;
    border-radius: $border-radius-lg;

    @include respond-to($breakpoint-mobile) {
      grid-template-columns: 1fr;
      padding: 0;
      background: none;
    }
  }
}
