@import "../abstracts/variables";
@import "../abstracts/mixins";

.logement {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  max-width: $max-container-width;
  width: 100%;
  padding: $spacing-lg $spacing-sm;

  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $spacing-sm;
    width: 100%;

    @include respond-to($breakpoint-mobile) {
      flex-direction: column;
    }
  }

  &__infos {
    flex: 1 1 60%;

    .logement__title {
      font-family: $font-family;
      font-size: 36px;
      font-weight: $font-weight-regular;
      line-height: 142.6%;
      color: $primary-color;
      margin-bottom: 0.3rem;

      @include respond-to($breakpoint-mobile) {
        font-size: 18px;
      }
    }

    .logement__location {
      font-family: $font-family;
      font-size: 18px;
      font-weight: $font-weight-regular;
      color: $text-color;
      margin-bottom: 1rem;

      @include respond-to($breakpoint-mobile) {
        font-size: 14px;
      }
    }

    .logement__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      .tag {
        @include respond-to($breakpoint-mobile) {
          height: 18px;
          font-size: 10px;
        }
      }
    }
  }

  &__host-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: $spacing-xs;

    @include respond-to($breakpoint-mobile) {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    .logement__host {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;

      &-name {
        font-family: $font-family;
        font-size: 18px;
        font-weight: $font-weight-regular;
        color: $primary-color;
        text-align: right;
        margin: 0;

        @include respond-to($breakpoint-mobile) {
          font-size: 12px;
          width: 50%;
        }
      }

      &-picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
        background: #c4c4c4;

        @include respond-to($breakpoint-mobile) {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  &__collapses {
    display: flex;
    justify-content: space-between;
    gap: $spacing-lg;
    width: 100%;

    > * {
      flex: 1;
    }

    @include respond-to($breakpoint-mobile) {
      flex-direction: column;
      gap: $spacing-sm;
    }
  }
}
