.notfound {
  font-family: "Montserrat", sans-serif;
  gap: 6rem;
  padding: 6rem 1rem;

  &__code {
    font-weight: 700;
    font-size: clamp(4rem, 20vw, 18rem); // 64px → 288px
    line-height: 1.2;
    color: #ff6060;
  }

  &__message {
    max-width: 872px;
    font-weight: 500;
    font-size: clamp(1.25rem, 3vw, 2.25rem); // 20px → 36px
    color: #ff6060;
    text-align: center;
    width: 75%;
  }

  &__link {
    font-weight: 500;
    font-size: clamp(1rem, 1.5vw, 1.125rem); // 16px → 18px
    text-decoration: underline;
    color: #000;
    margin-top: 1rem;
  }
}
