@import "../abstracts/variables";
@import "../abstracts/mixins";

.notfound {
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-xl;
  padding: $spacing-xl $spacing-sm;

  &__code {
    font-weight: $font-weight-bold;
    font-size: clamp(4rem, 20vw, 18rem); // 64px → 288px
    line-height: 1.2;
    color: $primary-color;
  }

  &__message {
    max-width: 872px;
    font-weight: $font-weight-regular;
    font-size: clamp(1.25rem, 3vw, 2.25rem); // 20px → 36px
    color: $primary-color;
    text-align: center;
    width: 75%;
  }

  &__link {
    font-weight: $font-weight-regular;
    font-size: clamp(1rem, 1.5vw, 1.125rem); // 16px → 18px
    text-decoration: underline;
    color: $text-color;
    margin-top: $spacing-sm;
  }
}
