.footer {
  max-width: 1440px;
  width: 100%;
  background-color: #000000;
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;

  &__logo {
    width: 25%;
    max-width: 210px;
    min-width: 100px;
    height: auto;
    margin-bottom: 2rem;
  }

  &__text {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.75rem, 1.8vw, 1.5rem); // 12px à 24px fluide
    font-weight: 500;
    color: #ffffff;
    line-height: 1.4;
    max-width: 90%;
  }
}
